@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body {
    background-color: #0E222E !important;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}