<div class="nav d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <button class="arrow btn btn-link p-0 bg-transparent">
            <img src="assets/icon_arrow_back.png">
        </button>
        <div class="title">
            <span>Patient Name : Rahul</span>
        </div>
    </div>
    <div class="title-right d-flex-justify-content-end my-auto">
        <SPAN class="border-text d-flex align-items-center">MRN : 65800/-(male-37) </SPAN>
        <SPAN> #LABS : 10/01 05:29</SPAN>
    </div>
</div>
<div class="mx-2 my-3">
    <div class="card" style="border-color:#213b49; height: 140px">
        <div class="card-header" style="background-color:#1e4055; ">
        </div>
        <div class="card-body d-flex" style="background-color: #0e222e; padding: 0;">
            <div class="d-flex" style="width: 220px; height: 122px; background-color: #183140; border-color: #1d303c;">
                <img src="assets/icon_temp@2x.png" height="65px" width="66px" style="margin-top:2rem;" class="mx-4 ">
                <div class="mt-3">
                    <p style="color: white; font-size: large;">Temp<br>
                        <span style="color: #6b7a84;font-size:15px">Degree Celsius</span>
                    </p>
                    <h3 style="color: white; ">56</h3>
                </div>
            </div>
            <div class=" px-4" style="background-color: #061b27; padding: 0; height: 122px;">
                <p class="my-2 " style="color: #6b7a84;font-size: small;">120</p>
                <p class="my-4" style="color: #6b7a84;font-size: small">80</p>
                <p class="my-4  " style="color: #6b7a84;font-size: small">40</p>
            </div>
        </div>
    </div>
</div>
<div class="mx-2 my-3">
    <div class="card" style="border-color:#213b49; height: 140px">
        <div class="card-header" style="background-color:#1e4055; ">
        </div>
        <div class="card-body d-flex" style="background-color: #0e222e; padding: 0;">
            <div class="d-flex" style="width: 220px; height: 122px; background-color: #183140; border-color: #1d303c;">
                <img src="assets/icon_o2_small@2x.png" height="65px" width="66px" style="margin-top:2rem;" class="mx-4 ">
                <div class="mt-3">
                    <p style="color: white; font-size: large;">SPO<sub>2</sub><br>
                        <span style="color: #6b7a84;font-size:15px">%spo<sub>2</sub></span>
                    </p>
                    <h3 style="color: white; ">98.6757</h3>
                </div>
            </div>
            <div class=" px-4" style="background-color: #061b27; padding: 0; height: 122px;">
                <p class="my-2 " style="color: #6b7a84;font-size: small;">120</p>
                <p class="my-4" style="color: #6b7a84;font-size: small">80</p>
                <p class="my-4  " style="color: #6b7a84;font-size: small">40</p>
            </div>
        </div>
    </div>
</div>
<div class="mx-2 my-3">
    <div class="card" style="border-color:#213b49; height: 140px">
        <div class="card-header" style="background-color:#1e4055; ">
        </div>
        <div class="card-body d-flex" style="background-color: #0e222e; padding: 0;">
            <div class="d-flex" style="width: 220px; height: 122px; background-color: #183140; border-color: #1d303c;">
                <img src="assets/icon_heart@2x.png" height="65px" width="66px" style="margin-top:2rem;" class="mx-4 ">
                <div class="mt-3">
                    <p style="color: white; font-size: large;">HR<br>
                        <span style="color: #6b7a84;font-size:15px">beats/min</span>
                    </p>
                    <h3 style="color: white; ">88</h3>
                </div>
            </div>
            <div class=" px-4" style="background-color: #061b27; padding: 0; height: 122px;">
                <p class="my-2 " style="color: #6b7a84;font-size: small;">120</p>
                <p class="my-4" style="color: #6b7a84;font-size: small">80</p>
                <p class="my-4  " style="color: #6b7a84;font-size: small">40</p>
            </div>
        </div>
    </div>
</div>
<div class="mx-2 my-3">
    <div class="card" style="border-color:#213b49; height: 140px">
        <div class="card-header" style="background-color:#1e4055; ">
        </div>
        <div class="card-body d-flex" style="background-color: #0e222e; padding: 0;">
            <div class="d-flex" style="width: 220px; height: 122px; background-color: #183140; border-color: #1d303c;">
                <img src="assets/icon_rr_chart@2x.png" height="65px" width="66px" style="margin-top:2rem;" class="mx-4 ">
                <div class="mt-3">
                    <p style="color: white; font-size: large;">RR<br>
                        <span style="color: #6b7a84;font-size:15px">breaths/min</span>
                    </p>
                    <h3 style="color: white; ">45</h3>
                </div>
            </div>
            <div class=" px-4" style="background-color: #061b27; padding: 0; height: 122px;">
                <p class="my-2 " style="color: #6b7a84;font-size: small;">120</p>
                <p class="my-4" style="color: #6b7a84;font-size: small">80</p>
                <p class="my-4  " style="color: #6b7a84;font-size: small">40</p>
            </div>
        </div>
    </div>
</div>
<div class="mx-2 my-3">
    <div class="card" style="border-color:#213b49; height: 140px">
        <div class="card-header" style="background-color:#1e4055; ">
        </div>
        <div class="card-body d-flex" style="background-color: #0e222e; padding: 0;">
            <div class="d-flex" style="width: 220px; height: 122px; background-color: #183140; border-color: #1d303c;">
                <img src="assets/icon_bp@2x.png" height="65px" width="66px" style="margin-top:2rem;" class="mx-4 ">
                <div class="mt-3">
                    <p style="color: white; font-size: large;">BP<br>
                        <span style="color: #6b7a84;font-size:15px">mmHg</span>
                    </p>
                    <h3 style="color: white; ">01</h3>
                </div>
            </div>
            <div class=" px-4" style="background-color: #061b27; padding: 0; height: 122px;">
                <p class="my-2 " style="color: #6b7a84;font-size: small;">120</p>
                <p class="my-4" style="color: #6b7a84;font-size: small">80</p>
                <p class="my-4  " style="color: #6b7a84;font-size: small">40</p>
            </div>
        </div>
    </div>
</div>