<div>
    <div class="nav d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <button class="arrow btn btn-link p-0 bg-transparent">
                <img src="assets/icon_arrow_back.png">
            </button>
            <div class="title">
                <span>Patient Name : Rahul</span>
            </div>
        </div>
        <div class="title-right d-flex-justify-content-end my-auto">
            <SPAN class="border-text d-flex align-items-center">MRN : 65800/-(male-37) </SPAN>
            <SPAN> #LABS : 10/01 05:29</SPAN>
        </div>
    </div>
</div>